@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Noto+Sans&family=Oswald:wght@200;300;400;500;600&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}
a, ul, li, button{
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
h1{
    font-family: 'Rubik', sans-serif;
}

/*=====Author Details==============
Name     : Kutub Uddin
Batch    : 06
Course   : Complete Web Development

===================================
Website info
============
Name   : World Cup-2022
language : Html5 , CSS3
version : 1.0.0
==================================*/


/*====== CSS part start here=========
=======================================*/

/*====== topmenu part start =========*/

#topmenu{
   
    background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(2, 161, 74) 100%);
    
}

.topMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 10%;
   
    background: linear-gradient(to right, rgb(2, 161, 74), rgb(1, 138, 74));
    border-left: 2px solid floralwhite;
}
.topMenu .logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.topMenu .logo img{
    width: 100%;
    height: 100%;
}
.menubar ul li{
    display: inline;
    margin: 0 2px;
}
.fa-bars,
.menubar ul li a{
    font-size: 22px;
    padding: 20px;
    color: rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;
    position: relative;
}
.menubar ul li a::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    height: calc(100% - 35px);
    background: #fff;
    top: 20px;
    right: 0;
}
.menubar ul li a:hover{
    border-bottom: 1px solid rgb(58, 85, 58);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

/*====== topmenu part end =========*/








/*====== slider part start =========*/

#sliderPart{
    background: rgb(1,102,111);
    background: linear-gradient(to left, rgba(2,212,21, .4) 0%, rgba(1,102,111, 1) 100%), url(../images/field.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    height: 500px;
    width: 100%;
    padding: 20px 10%;

}
.sliderPartStart{
    display: flex;
    justify-content: space-between;
}
.sliderText{
    position: relative;
    top: 60px;
   
}
.sliderText h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.sliderText p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 20px 0;
}
.sliderImg{
    position: relative;
    width: 100%;
    height: 100%;
    right: 30px;
    bottom: -60px;
}
.sliderImg img{
    overflow: hidden;
    position: absolute;
    width: 957px;
    height: 469px;
    top: -50px;
    right: -160px;
}
.btn{
    padding: 18px;
    border-radius: 8px;
    background: orangered;
    color: white;
    font-size: 18px;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.btn .angel{
    margin-left: 8px;
    margin-top: -8px;
    font-size: 20px;
}
.btn:hover{
    background: rgba(2,212,21, .4);
    color: white;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.btn:hover .angel{
    margin-left: 10px;
}
/*====== slider part end =========*/

/*====== matchSchedule part start =========*/
#matchSchedule{
    margin: 40px 0;
    padding: 20px 10%;
}
.matchsPart{
    display: flex;
    justify-content: space-between;
}
.matchs{
    background: rgb(14, 12, 12);
    padding: 15px;
    width: 280px;
    height: 320px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.matchs ul a{
    display: block;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 25px;
    padding: 20px ;
    text-transform: capitalize;
    color: black;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: .2s linear ease-in;
    -webkit-transition: .2s linear ease-in;
    -moz-transition: .2s linear ease-in;
    -ms-transition: .2s linear ease-in;
    -o-transition: .2s linear ease-in;
}
.matchs ul a:hover{
    background: orangered;
    color: white;
    transition: .2s linear ease-in;
}
.matchs ul a:last-child{
    background: orangered;
    color: white;
}
.matchsDetails{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 5px;
}
.blogDetails{
    width: 230px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    
}
.blogDetails:hover{
    background: rgb(1,102,111);
    color: #fff;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}
.blogImg{
    width: 100%;
   
}
.blogImg img{
    width: 100%;
   
}
.blogContent{
    padding: 20px 10px;
    border: 1px solid grey;
    border-top: none;
    margin-top: -8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.blogContent a{
    padding: 10px ;
    border-radius: 5px;
    border: .5px solid gray;
    color: grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blogDetails:hover .blogContent a{
    color: #fff;
    border:1px solid #fff;
}
.blogContent h4{
    font-size: 18px;
    margin: 20px 0;
}
.watchComnt a{
    color: rgb(131, 130, 130);
    margin: 15px 0;
    margin-right: 10px;
    font-size: 16px;
    border: none;

}
.tab{
    display: none;
}
/*====== matchSchedule part end =========*/
/*====== footer part start =========*/
#footerPart{
    background-color: rgb(20, 12, 12);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 100px 0;
    padding-bottom: 30px;
}
#footerPart h1{
    font-size: 60px;
}
hr{
    margin: 30px 0;
    background-color: gray;
}
.footerNav ul li{
    display: inline-block;
    margin: 8px 20px;
}
.footerNav ul li a{
    font-size: 18px ;
    color: gray;
}

/*====== footer part end =========*/




